body{
    background-color: black;;
}
.button{
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 66px;
}
.container{
    display: inline-block;
    border: 5px whitesmoke;
    border-radius: 10px;
}